@page "/"

<PageTitle>Home</PageTitle>

<h1>Secure Web App</h1>

<p>
    Welcome to the 'Secure Web App'.
</p>

<br />

<h2>About the project</h2>
<p>
    This web-application contains proof-of-concepts for the Security Development Body of Knowledge topics.
    <br />
    See the side-bar on the left for implementations.
</p>

<br />

<h2>Information for Blue Teamers</h2>
TBD

<br />
<br />

<h2>Information for Red Teamers</h2>
TBD
