@page "/"

<PageTitle>Home</PageTitle>

<h1>Secure Web App</h1>

<p>
    Welcome to the Secure Web App.
</p>

<br />

<h2>About the project</h2>
<p>
    This web-application contains proof-of-concepts for the Security Development Body of Knowledge topics.
    <br />
    See the side-bar on the left for implementations.
</p>

<br />

<h2>Information for Blue Teamers</h2>
<h3>Docker Image</h3>
A Docker image of this web-application is available on <a href="https://hub.docker.com/repository/docker/lukas100/secure-web-application/general">Dockerhub</a>.
See the <a href="https://docs.docker.com/">Docker Documentation</a> on how to build the image.

<br />
TBD, add Docker Compose file.

<br />
<br />

<h2>Information for Red Teamers</h2>
<h3>Docker Image</h3>
A Docker image of this web-application is available on <a href="https://hub.docker.com/repository/docker/lukas100/secure-web-application/general">Dockerhub</a>.
Note that the Docker image would normally not be as easily available to red-teamers, therefore decide for yourself if you want to use this for local testing or not.

<h3>Source Code</h3>
Source Code of the application is available on <a href="https://github.com/Cyber-Security-S7/Secure-Web-App">Github</a>.
You will have to decide for yourself whether you want to pentest the application in a white or black box manner.
